.WorkContainer {
  background-color: #282828;
  color: #ffffff;
  padding: 3rem 6rem;
  display: grid;
  gap: 4rem;
}

.WorkIntro {
  text-align: center;
  display: grid;
  gap: 2rem;
}

.WorkIntroHeading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 100;
}

.WorkIntroDetails {
  display: grid;
  gap: 1rem;
  font-size: 15px;
}

.WorkIntroDetails div {
  padding: 0 8rem;
}

.WorkGallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr) );
  gap: 1rem;
}

.FilterButtons {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  justify-content: center;
}

.GalleryButton {
  cursor: pointer;
  background-color: #fff;
  color: #0e0e0e;
  text-transform: uppercase;
  font-weight: bolder;
  padding: .8rem 2rem;
  border-radius: 5px;
  outline: none;
}

.GalleryImage img {
  width: 100%;
  height: 15rem;
}

.GalleryImage {
  position: relative;
}

.ImageOverlay {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(14, 14, 14, 0.5);
  transition: opacity .2s, visibility .2s;
}

.GalleryImage:hover .ImageOverlay {
  visibility: visible;
  opacity: 1;
}

.OverlayText {
  text-transform: uppercase;
  font-weight: bolder;
  padding: .5rem 2rem;
  border-radius: 2px;
  background-color: rgb(255, 255, 255, 0.3);
}